/* list des blogs*/

#blogs-list
{
    background-color: #E3F4FE;
    padding:0px;
    margin:0px;
}

.heading{

    background-color:#02ADF0;
    margin:0px;
    padding:0px;

}

.container-blog-list{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.card{
    width:70%;
    box-shadow: 5px 5px 10px rgb(128, 128, 128);
}
.card-img{
    width: auto;
    height: 150px;
    margin:15px;
    border: 1px solid red;

}

.row-align-start-left
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.row-align-start-right
{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
}