/* list des blogs*/

.container-blog-list{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.card{
    width:80%;
}

.row-align-start-left
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.row-align-start-right
{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
}