/* blog*/

#blog
{
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items:center;
    background-color: #E3F4FE;
    padding:0px;
    margin:0px;
    min-height: 100vh;
}

.row-item
{
    width:150px;
    height:48px;
    border: 1px solid black;
    padding: 8px 16px;
    margin-bottom: 16px;
    border-radius: .3rem;
    background-color: grey;
}

.row-align-start-left
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.row-align-start-right
{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
}

.content-blog p {
    font-family:'lato','open-sans',sans-serif;
    font-size: 1.5rem;
    font-style: normal;
}

.content-blog span {
    font-family:'lato','open-sans',sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-style: italic;
}

.comment-line {

    background-color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 10px grey;

    margin: 0px 0px 15px 0px;
}

.comment
{
    font-family:'lato','open-sans',sans-serif;
    font-style: italic;
}

.row-blog-img {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.blog-img 
{
    display:block;
 max-height: 300px;
}