/* connexion */

#connexion
{
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items:stretch;
    background-color: #E3F4FE;
    padding:0px;
    margin:0px;
    min-height: 100vh;
}

#connexion .heading 
{
    text-align: center;
    background-color:#02ADF0;
    margin:0px;
    padding:0px;
}

#connexion h2
{
    color:#fff;
    text-transform: uppercase;
    text-align: center;
    margin:30px 0px;
}

.box_connexion{
    background-color: white;
    border-radius: 10px;
    width:60%;
    margin:50px auto;
    padding:15px;
    box-shadow: 5px 5px 10px grey;
}

/*écran inférieur à 768px */

@media screen and (max-width: 767px)
{
    .box_connexion
    {
        width:90%;
    }
 
}