/* page dashboard admin */

h4{
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.tab-text{
    color: black !important;
}
#tab-comment:hover{
    
    box-shadow: 0px 0px 10px lightgrey, 0px 0px 10px lightgrey;
}

#tab-blogs:hover{

    box-shadow: 0px 0px 10px lightgrey, 0px 0px 10px lightgrey;
}