/* page dashboard admin */

h4{
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.tab-text{
    color: black !important;
}
#tab-comment:hover{
    
    box-shadow: 0px 0px 10px lightgrey, 0px 0px 10px lightgrey;
}

#tab-blogs:hover{

    box-shadow: 0px 0px 10px lightgrey, 0px 0px 10px lightgrey;

}

.line-info-list
{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:100%;
}

.item-list
{
    /* border: 1px solid gray; */
    margin-right:15px;
    flex-wrap: nowrap;
}

.new-blog-button
{
    display:block;
    width:200px;
    text-decoration: none;
}

a
{
    text-decoration: none;

}