/* page dashboard admin */
/* list des blogs*/

#newblog
{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:stretch;
    background-color: rgb(255, 230, 255);
    padding:0px;
    margin:0px;
    min-height:100vh;
}

#newblog .heading 
{
    text-align: center;
    background-color:purple;
    margin:0px;
    padding:0px;

}

#newblog h2
{
    color:#fff;
    text-transform: uppercase;
    text-align: center;
    margin:30px 0px;
}

.container-newblog
{
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items:stretch;
    margin: 15px 0px;
    min-height: 100vh;
}

#box_newblog{
    background-color: white;
    border-radius: 10px;
    width:60%;
    margin:50px auto;
    padding:15px;
    box-shadow: 5px 5px 10px grey;
}

.custom-file
{
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    height: 80px;
}

#file_input_name
{
    display: block;

} 


/*écran inférieur à 768px */

@media screen and (max-width: 767px)
{
    #box_newblog{
        width:80%;
    }
    .custom-file
    {
        height: 100px;
    }
    #file_input_name
    {
        margin-left: 10px;
    
    } 

}


