/*GENERAL */

body
{
    font-family: 'Lato', sans-serif;
    margin:0px;
    padding:0px;

}


#page-template
{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 1000px;
}

ul,li
{
    margin:0px;
    padding:0px;
}
h1,h2,h3,h4,h5,h6
{
    font-weight:bold;
}
p,li
{
    font-size: 1.2rem;
}

img
{
    max-width:100%;
    height:auto;
}

section
{
    padding: 45px 0 80px 0px;

}

section .heading
{
    text-align: center;
    padding: 15px auto;

}
section .heading h2
{
    text-transform: uppercase;
    margin-top:20px;
    color:#fff;
}

.blue-divider
{
    width:100px;
    height:5px;
    background:#2f7bde;
    margin: 15px auto;
}

.white-divider
{
    width:100px;
    height:5px;
    background:#fff;
    margin: 15px auto;
}