<?php

namespace Application\Repository;

use Application\Application\Database\PDODatabase;

abstract class AbstractRepository
{
    protected $database;

    public function __construct()
    {
        try {
            //fill in the port the name of the database the login and the password to connect to the database
            $this->database = new PDODatabase(
                'mysql:host=localhost:0000 ;dbname=xxxx ;charset=utf8',
                '',
                ''
            );

        } catch (\Exception $e) {
            dump($e);
        }
    }

    abstract protected function getTableName(): string;

    public function getAll()
    {
        $query = "SELECT * FROM {$this->getTableName()}";
        $statement = $this->database->request($query);
        return $statement->fetchAll();
    }


    public function findById(int $id)
    {
        $query = "SELECT * FROM {$this->getTableName()} WHERE id = :id";
        $statement = $this->database->request($query, [':id' => $id]);
        return $statement->fetch();
    }


    public function delete(int $id)
    {
        $query = "DELETE FROM {$this->getTableName()} WHERE id= :id";
        $this->database->request($query, [':id' => $id]);

    }

}