/*GENERAL */

body
{
    font-family: 'Lato', sans-serif;
    margin:0px;
    padding:0px;
}
ul,li
{
    margin:0px;
    padding:0px;
}
h1,h2,h3,h4,h5,h6
{
    font-weight:bold;
}
p,li
{
    font-size: 1.2rem;
}

img
{
    max-width:100%;
    height:auto;
}

section
{
    padding: 45px 0 80px 0px;

}

section .heading
{
    text-align: center;
    padding: 15px auto;

}
section .heading h2
{
    text-transform: uppercase;
    margin-top:20px;
    color:#fff;
}

.blue-divider
{
    width:100px;
    height:5px;
    background:#2f7bde;
    margin: 15px auto;
}

.white-divider
{
    width:100px;
    height:5px;
    background:#fff;
    margin: 15px auto;
}

/*MENU */

.navbar
{
    padding:0px;
    margin:0px;
}

ul
{
    list-style: none;
    margin:0px;
    padding:0px;
}

.menu
{
    display:flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.menu ul
{
    flex-wrap: nowrap;
}
.menu-item
{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

a.nav-link.active,a.nav-link
{

display:block;
   color:#fff; 
   font-size:25px;
   margin:7.5px;
   padding:7.5px 20px;
   text-align: center;
}
.menu-item:hover
{
    background-color: #318ce7;
    transition: all 0.3s ease-in 0s;
}

.navbar-toggler-icon
{
    border: white;
}

.item-apropos
{
    width:120px;
}
.menu-item #admin
{
    color:grey;
}
.menu-item #admin:hover
{
    color:white;
}



/*menu écran inférieur à 576px */

@media screen and (max-width: 767px)
{


    #buttonMenu
    {
        visibility: visible;
        border-color:white;
        float: right;
    }
    .menu
    {
        display:flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width:100%;
    }
    .menu-item
    {
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width:100%;
        margin:0px;
        padding:0px;
    }
    
    a.nav-link.active,a.nav-link
    {
       display: block;
       color:#fff; 
       font-size:25px;
       margin:0px;
       padding: 7.5px 0px;
       text-align: center;
       width:100%;
    }

    .menu-item:hover
    {
        background-color: #318ce7;
        transition: all 0.3s ease-in 0s;
    }

}

/*menu écran minimum à 768px */

@media screen and (min-width: 768px)
{

    .navbar-brand
    {
        display: none;
    }

    #buttonMenu
    {
        display: none;
    }
}

/* ACCUEIL */

#home
{
   background-color: #318ce7;
   padding-top: 100px;
   padding-bottom: 100px;

}
.rounded-circle
{
    border: 5px solid #fff;
}
.profile-picture
{
    text-align: center;
    margin: 0 auto;
    float:none;
}
#home .heading h1
{
    color:#fff;
    text-transform: uppercase;
    margin-top:20px;
}
#home .heading h3
{
    color:#FFF;
    margin-bottom: 50px;
}
.button-download
{
    font-weight:bold;
    text-transform: uppercase;
    color:white;
    border: 1px solid white;
    display:inline-block;
    margin-top:20px;
    padding: 18px 50px;
    border-radius:5px;
    transition: all 0.3s ease-in 0s;
}
a.button-download:hover
{
    background-color: #fff;
    color:#318ce7;
    text-decoration-style: none;
    list-style: none;
    text-decoration: none;
}
.button1:hover
{
    background:white;
    color:#2f7bde;
    text-decoration: none;
}
/* COMPETENCES */

#skills
{
    background: #fff;
}
#skills .heading h2
{
    color: #2f7bde;
}

span.carousel-control-prev-icon
{
    color:black;
}

.item-logolangage
{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.experience-block
{
    width:80%;
    margin:0 auto;
    padding:30px;
    background:#ddd;
    border-radius:10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

#texte_mysql
{
    font-family:'Arial', sans-serif;
    font-size:3rem;
    font-weight:bold
}


#skills ul li

{
    list-style-type:disc;
    list-style-position: inside;
    
}

/* REALISATIONS */

#realisations .heading h2
{
    color:#2f7bde;
}

#comment-realisation
{
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    text-align:left;
    font-style: italic;
    color:black;
}

.logolangage
{
    width:128px;
}

.credit-licence-logo
{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.credit-licence-logo p
{
    display:block;
    color:gray;
    margin:0px auto;
    font-size:0.7em;
}

.card_width
{
    width:75%;
}

.MessageAlerte
{
    display:flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

@media screen and (max-width: 575px)
{
    .card_width
    {
        width:100%;
        float: none;
    }

    .row_reverse
    {
        flex-wrap: wrap-reverse;
    }

    #texte_mysql
    {
        font-size:2.3rem;
    }
}

/* FORMATIONS */

section .heading #objectif span
{
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    text-align:left;
    font-style: italic;
    color:#fff;
}

#education
{
    background: #2f7bde;
}

#education .heading h2
{
    color:#fff;
}

.education-block
{
    width:80%;
    margin:0 auto;
    text-align:center;
    padding:30px;
    background:#fff;
    border-radius:10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
.education-block h5
{
    color:#888;
    font-size:15px;
    margin-bottom:15px;
}
.education-block .glyphicon
{
    font-size:40px;
}
.education-block h3
{
    color:#2f7bde;
}
.education-block h4
{
    margin-bottom: 20px;

}
.education-block p
{
    font-weight:bold;
}
.education-block .blue-divider
{
    margin-bottom:20px;
}

/*ABOUT*/

#about
{
    background-color: #fff;
}
#about .heading h2,h3
{
    color: #318ce7;
    font-weight:bold;
}

#about p
{
    font-weight:bold;
    font-size: 1.2rem;
}

/*CONNEXION */

#connexion .heading h2,h3
{
    color: #318ce7;
    font-weight:bold;
}



/* FOOTER */

footer
{
    background: #333;
}

footer .button-top-about
{
    margin: 20px auto;
    text-align:center;
    height: 30px;
}

footer .button-top-about:hover
{
    font-size: 27px;
}

footer h5
{
    color:#fff;
    font-weight:normal;
}

#logo_linkedin
{
    height:70px;
    width: 70px;
    margin: 0px auto;
}

#block_mail,#block_linkedin
{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#mail_footer,#logo_linkedin
{
    display:block;
}

#connexionAdmin
{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#connexionAdmin a
{
    display:block;
    color: grey;
}
#connexionAdmin a:hover
{
    display:block;
    color: white;
    text-decoration: none;
}





/*gestion de ludothèque liste */


#section_gamelist h2,h4
{
    color:black;
}


#btn_ajout_jeu_list
{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.boutonajouter span
{
    display:block;
    margin:0px auto;
    padding:0px 15px;
}


#btn_ajout_jeu_list:hover
{
    text-decoration: none;
    color:black;
}

#btn_visualise
{
    text-decoration-style:none;
}
#btn_modifie
{
    color:grey;
    background-color:rgb(255, 222, 161);
}
#btn_supprime
{
    background-color:rgb(255, 156, 156);
}

#btn_visualise span:hover
{
    text-decoration-style:none;
    -moz-text-decoration-style:none;
}

/* légende catégorie jeux */

#circle_orange
{
    width:15px;
    height:15px;
    border-radius: 7.5px;
    background-color:orangered;
}
#circle_blue
{
    width:15px;
    height:15px;
    border-radius: 7.5px;
    background-color:blue;
}
#circle_brown
{
    width:15px;
    height:15px;
    border-radius: 7.5px;
    background-color:greenyellow;
}
#circle_purple
{
    width:15px;
    height:15px;
    border-radius: 7.5px;
    background-color:purple;
}
#circle_grey
{
    width:15px;
    height:15px;
    border-radius: 7.5px;
    background-color:gainsboro;
}

/*Application dés numérique */

#des_numerique .heading h2
{
    color:#2f7bde;
}

#fondAppliDice
{
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width:350px;
    height:700px;
    background-color:grey;
    border-radius: 10px;
    margin: 25px auto 0px auto;
    padding: 0px;
}

#ecranAppliDice
{
    width:300px;
    height:300px;
    background-color:#bada55;
    border: 3px solid brown;
    margin: 25px auto 0px auto;
    padding:0px;
    border-radius: 10px;
}

#container_ecran
{
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}



.row_ecran
{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.case
{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:98px;
    height:98px;
    /*border:1px solid grey;*/
}

.dice
{
    width:78px;
    height:78px;
    background-color: antiquewhite;
    border: 1px solid rgb(255, 219, 172);
    border-radius: 10px;
    box-shadow: inset 5px 5px 5px white, 5px 10px 10px grey;
}


/*détail du dés */

.container_case_puce
{
    margin: 2px auto;
}


.row_puces
{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.case_puce
{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:24px;
    height:24px;
}

.puce1
{
    width:18px;
    height:18px;
    background-color: blue;
    border: 1px solid black;
    border-radius: 9px;
}
.puce2
{
    width:18px;
    height:18px;
    background-color: purple;
    border: 1px solid black;
    border-radius: 9px;
}
.puce3
{
    width:18px;
    height:18px;
    background-color: yellow;
    border: 1px solid black;
    border-radius: 9px;
}
.puce4
{
    width:18px;
    height:18px;
    background-color: orange;
    border: 1px solid black;
    border-radius: 9px;
}
.puce5
{
    width:18px;
    height:18px;
    background-color: green;
    border: 1px solid black;
    border-radius: 9px;
}
.puce6
{
    width:18px;
    height:18px;
    background-color: red;
    border: 1px solid black;
    border-radius: 9px;
}
.puce7
{
    width:18px;
    height:18px;
    background-color: cyan;
    border: 1px solid black;
    border-radius: 9px;
}


















#buttonsPanel
{
    width:298px;
    height:298px;
    background-color:cyan;
    border: 2px solid black;
    border-radius: 10px;
    margin: 25px auto 0px auto;
    padding:0px;
}

#row_number_dice
{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top:15px;
    margin-bottom: 7.5px;
}

.button_number_dice
{
    display:block;
    width:50px;
    height:25px;
    background-color: blue;
    color:white;
    border-radius: 5px;
}

.row_action_dice
{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top:7.5px;
    margin-bottom: 7.5px;
}
#start,#reset
{
    width:250px;
    height:100px;
    border-radius: 5px;
    color:white;
    font: size 3rem;
}

#start{background-color: green;}
#reset{background-color: orange;}