{% extends "template.html.twig" %}
{% block title %}Blog{% endblock %}
{% block body %} 
<section id="connexion">
    <div class="heading">
        <h2>Liste des blogs</h2>
    </div>
    <div class="blue-divider"></div>

    <div class="container">

        {% for blog in blogs %}
                <div class="card row">
                    <div class="col-4 imageCard border border-primary">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <a href={{'/blogs/'~blog.id}} class="btn btn-primary btnSeeBlog">voir</a>
                    </div>
                    
                    <div class="col-8 card-body border border-primary">
                      <h5 class="card-title">{{blog.title}}</h5>
                      <p class="card-text">{{blog.chapo}}</p>
                      <div class="col4 row-item"><p>{{blog.last_update}}</p></div>
                    </div>
                  </div>
        {% endfor %}

    </div>






    
</section>
{% endblock %}