{% extends "template.html.twig" %}
{% block title %}Blog{% endblock %}
{% block body %} 
    <div class="container-fluid">
        <h2>Liste des blogs</h2>
        foreach(blogs as blog){
            
        }

    </div>
{% endblock %}
