{% extends "template.html.twig" %}
{% block body %} 
<div class="container">
    <section>
            <h4><bold>Commentaires du blog</bold></h4><br/>
            {% for comment in comments %}
                <div class="commentaire shadow row" style="border: 1px solid grey;">
                    <div class="col8"><p class="mx-3 my-3">{{comment}}</p></div>
                    <div class="col2"><a href={{'/blogs/'~blog.id~'/edit'}}><button class="btn btn-lg btn-warning btn-block mb-3">Modifier</button></a></div>
                    <div class="col2"><a href={{'/blogs/'~blog.id~'/delete'}}><button class="btn btn-lg btn-danger btn-block mb-3">Supprimer</button></a></div>
                </div>
            {% endfor %}
    </section>
</div>   
{% endblock %}  