{% extends "template.html.twig" %}
{% block header %}
<header class="sticky-top">
    <nav class="navbar navbar-dark navbar-expand-md bg-dark m-0 p-0">
        <div class=" menunavigation container-fluid m-0 p-0">
            <div class="navbar-brand m-0 p-3">Menu</div>
            <div id="buttonMenu">
                <button class="d-block navbar-toggler m-3 p-1" data-toggle="collapse" data-target="#navbarText">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="menu">
                    <li class="menu-item">
                        <a class="item nav-link" href="home.php">Accueil</a>
                    </li>
                    <li class="menu-item">
                        <a class="item nav-link" href="blogs-list.php">Blogs</a>
                    </li>

                    <li class="menu-item">
                        <a class="item nav-link" href="register.php">Inscription</a>
                    </li>
                    <li class="menu-item">
                        <a class="item nav-link" href="login.php">Connexion</a>
                    </li>
                    <li class="menu-item">
                        <a class="item nav-link" href="disconnect.php" name ="disconnect" value="disconnect">déconnexion</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
{% endblock %}


