{% extends "template.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block body %} 
<div class="container-fluid" id="home">
    <div class="row section1-accueil">
        <div class="col-sm-12 col-md-6 col-lg-6 profile-picture">
            <img src="/images/laurent.jpg" alt="photo laurent" class="rounded-circle w-50">
        </div>
        <div class="heading col-sm-12 col-md-6 col-lg-6">
            <h1>Laurent LESAGE</h1></br>
            <h3>Développeur web junior fullstack<br /><br /> JavaScript et PHP/Symfony</h3>
            <p>"Actuellement j'effectue une formation en alternance <br /> de développeur d'application PHP/symfony
                        avec Openclassrooms"</p>
        </div>
    </div>  

    <div class="row section2-accueil">
        <div class="container-activite col-sm-12 col-md-4 col-lg-4 col-xl-4 px-0 py-0 mx-0 my-0">
            <h3>Mes activités complémentaires en entreprise :</h3>  
            <div class="activites">
      
                <ul class="activite-entreprise"> 
                    <li>Site web vitrine et e-commerce: CMS wordpress thème AVADA</li>
                    <li>Application front-end: Angular 11.</li> 
                    <li>Application Back-end: PHP et nestjs</li> 
                </ul>
            </div>
            <div class="row-button">
                <a href="/docs/2020_CV-laurentLESAGE.pdf" class='button-download' target='blank'>Télécharger CV</a>
            </div>
        </div>
        <div class="form-contact col-sm-12 col-md-8 col-lg-8 col-xl-8 px-0 py-0 mx-0 my-0">
            <div class="px-0 mx-0">
                <form class="contact-form" method="post" action="" role="form">
                    {% if error %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-md-6">
                            <label for="firstname"><strong>Prénom</strong><span class="blue"> *</span></label>
                            <input type="text" id="firstname" name="firstname" class="form-control" placeholder="votre prénom">
                        </div>
                        <div class="col-md-6">
                            <label for="name"><strong>Nom</strong><span class="blue"> *</span></label>
                            <input type="text" id="name" name="name" class="form-control" placeholder="votre nom">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="Email"><strong>Email</strong><span class="blue"> *</span></label>
                            <input type="text" id="email" name="email" class="form-control" placeholder="votre email">
                            {% if errorMail %}
                                <small class="text-danger">Votre mail doit comporter un arobase.</small>
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            <label for="phone"><strong>Téléphone</strong></label>
                            <input type="text" id="phone" name="phone" class="form-control" placeholder="votre téléphone">
                        </div>
                    </div>    
                    <div class="row">
                        <div class="col-md-12">
                            <label for="message"><strong>Message</strong><span class="blue"> *</span></label>
                            <textarea id="message" name="message" class="form-control" placeholder="Votre message" row="4"></textarea>
                        </div>
                    </div>
                    {% if errorGlobal %}
                    <div class="alert alert-danger my-3" role="danger">
                        {{ errorGlobal }}
                    </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-md-12">
                            <p class="blue"><strong>* Ces informations sont requises</strong></p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <input type="submit" class="button-send" value="Envoyer">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %} 