{% extends "template.html.twig" %}
{% block title %}Connexion{% endblock %}
{% block body %} 

<div class="container-fluid mx-0 my-0 px-0 mx-0" id="connexion">
      <div class="heading">
          <h2>Connexion</h2>
      </div>
    <div class="container_updateBlog">

            <div class="box_connexion">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
                <form class="form-signin" method="POST">
                    <label for="email" class="sr-only">Identifiant</label>
                    <input type="email" id="email" name="email" class="form-control mt-3" placeholder="email">
                    <label for="inputPassword" class="sr-only">Mot de passe</label>
                    <input type="password" id="inputPassword" name="inputPassword" class="form-control my-3" placeholder="Mot de passe">
                    <button class="btn btn-lg btn-primary btn-block mb-3" type="submit">Se connecter</button>
                </form>
            </div>

    </div>
</div>
{% endblock %} 