{% extends "template.html.twig" %}
{% block title %}Blog{% endblock %}
{% block body %} 
<div class="container">
    <div class="row border shadow rounded col-12 col-sm-12 offset-md-2 col-md-8 p-0 mx-auto mt-5">
        <div id="box_connexion" class="col-12 col-sm-12 col-md-12 text-center rounded mt-4">
            <form class="form-signin" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                  <label for="title-blog" class="sr-only">Titre du blog</label>
                  <input type="text" name="title-blog" class="form-control" value="{{blog.title}}" placeholder="Entrer le titre" required autofocus>
                </div>
                <div class="form-group">
                <div class="input-group mb-3">
                    <div class="custom-file">
                      <label for="file_input_name">Selectionner une image au format jpeg ou png inférieur à 2Mo</label>
                      <input type="file" class="file_input_id" id="file_input_name" name="file_input_name" accept="image/png, image/jpeg, image/jpg">
                    </div>
                </div>
                <div class="form-group">
                <label for="inputChapo" class="sr-only">Chapo</label>
                <input type="text" name="inputChapo" class="form-control my-3" value="{{blog.chapo}}" placeholder="Entrer le chapo 255 caratère max" required autofocus>
                </div>

                <div class="form-group">
                <label for="content">Contenue du blog :</label>
                <textarea class="form-control rounded-0" id="content" name="content" rows="3"  value="{{blog.content}}" placeholder="Veuillez écrire votre texte ici."></textarea>
                </div>
                
                <!-- <button type="submit" class="btn btn-primary">Envoyez</button> -->
                <input type="submit" value="Envoyez"class="btn btn-primary" />
            </form>
        </div>
    </div>
</div>  
{% endblock %}